<html lang="en">
  <body>
    <div class="create-blog content">
      <form action="/comments" method="POST">
        <label for="title">Your Reg no:</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Comments:</label>
        <input type="text" id="snippet" name="snippet" required />

        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
